/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/sass/global.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

.containerBody {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.containerBody .containerHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid silver;
  margin: 0 2.5rem 4.5rem;
}
.containerBody .containerHeader h2 {
  font-weight: 500;
}
.containerBody .containerHeader p {
  color: rgba(0, 0, 0, 0.5411764706);
  padding-top: 0.5rem;
}
.containerBody .toDoList {
  max-width: 450px;
  margin: 2.5rem auto;
  text-align: center;
  border: 1px solid #EAECF0;
  padding: 1.5rem 0;
  border-radius: 1rem;
}
.containerBody .toDoList h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5411764706);
  margin-bottom: 2rem;
}
.containerBody .toDoList .taskNone {
  color: silver;
}
.containerBody .toDoList .cardTask {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto 1.5rem;
  border: 1px dotted silver;
  padding: 0.5rem;
  border-radius: 8px;
}
.containerBody .toDoList .cardTask div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerBody .toDoList .cardTask input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.containerBody .toDoList .cardTask span {
  margin: 0 1rem;
  font-size: 16px;
  text-align: start;
}
.containerBody .toDoList .cardTask button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.containerBody .toDoList .cardTask .listCompleted {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5411764706);
}
.containerBody .toDoList .cardTask:hover {
  background: #F7F9FD;
}
.containerBody .containerButton {
  display: flex;
  justify-content: center;
  width: 100%;
}
.containerBody .containerButton .newTaskBtn {
  background-image: linear-gradient(to right, #0796D3, #53C0F0);
  width: 450px;
  max-width: 88vw;
  height: 51px;
  border-radius: 8px;
  outline: 0;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.containerBody .taskCompleted h2 {
  margin-top: 2.5rem;
}
.containerBody .formNewTask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.containerBody .formNewTask .newTaskAdd {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 286px;
  justify-content: center;
  border-radius: 1rem;
  margin: 10% auto;
  background-color: white;
  box-shadow: 1px 1px 50px silver;
}
.containerBody .formNewTask .newTaskAdd h2, .containerBody .formNewTask .newTaskAdd input {
  margin: 1.5rem;
}
.containerBody .formNewTask .newTaskAdd label {
  margin-left: 1.5rem;
}
.containerBody .formNewTask .newTaskAdd h2 {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 24px;
}
.containerBody .formNewTask .newTaskAdd label {
  font-size: 16px;
}
.containerBody .formNewTask .newTaskAdd input {
  padding: 1rem;
  font-size: 16px;
  outline: 0;
  border-radius: 0.5rem;
  border: 1px solid silver;
  margin-top: 0.5rem;
}
.containerBody .formNewTask .newTaskAdd .containerBtnTask {
  display: flex;
  justify-content: space-around;
  padding: 0 1.5rem 1rem;
}
.containerBody .formNewTask .newTaskAdd .containerBtnTask button {
  width: 48%;
  border-radius: 0.5rem;
  border: 1px solid silver;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 16px;
  cursor: pointer;
}
.containerBody .formNewTask .newTaskAdd .containerBtnTask .btnCancel {
  background: #E7EEFB;
}
.containerBody .formNewTask .newTaskAdd .containerBtnTask .btnAdd {
  background-image: linear-gradient(to right, #0796D3, #53C0F0, #0796D3);
  color: white;
}
.containerBody .confirmDeletePanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.containerBody .confirmDeletePanel .deleteConfig {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  justify-content: center;
  border-radius: 1rem;
  margin: 10% auto;
  background-color: white;
  box-shadow: 1px 1px 50px silver;
}
.containerBody .confirmDeletePanel .deleteConfig h2 {
  font-weight: 400;
}
.containerBody .confirmDeletePanel .deleteConfig h2, .containerBody .confirmDeletePanel .deleteConfig div {
  margin: 1.5rem;
}
.containerBody .confirmDeletePanel .deleteConfig p {
  margin-left: 1.5rem;
  color: rgba(0, 0, 0, 0.5411764706);
}
.containerBody .confirmDeletePanel .deleteConfig .confirmButtons {
  display: flex;
  justify-content: space-between;
}
.containerBody .confirmDeletePanel .deleteConfig .confirmButtons button {
  width: 48%;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0;
  font-size: 16px;
  cursor: pointer;
}
.containerBody .confirmDeletePanel .deleteConfig .confirmButtons .btnDelete {
  background-image: linear-gradient(to right, #D30707, #F05353, #D30707);
  color: white;
}
@media (max-width: 900px) {
  .containerBody .containerHeader {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .containerBody .containerHeader {
    padding: 1rem;
    margin: 0 1.5rem;
  }
}
@media (max-width: 500px) {
  .containerBody .toDoList {
    margin: 1.5rem;
  }
}
@media (max-width: 560px) {
  .containerBody .formNewTask {
    background-color: white;
  }
  .containerBody .formNewTask .newTaskAdd {
    box-shadow: none;
  }
  .containerBody .formNewTask .newTaskAdd .containerBtnTask {
    flex-direction: column-reverse;
  }
  .containerBody .formNewTask .newTaskAdd .containerBtnTask button {
    width: 100%;
  }
  .containerBody .confirmDeletePanel {
    background-color: white;
  }
  .containerBody .confirmDeletePanel .deleteConfig {
    box-shadow: none;
  }
  .containerBody .confirmDeletePanel .deleteConfig .confirmButtons {
    flex-direction: column-reverse;
  }
  .containerBody .confirmDeletePanel .deleteConfig .confirmButtons button {
    width: 100%;
  }
  .containerBody .confirmDeletePanel .deleteConfig .confirmButtons .btnDelete {
    margin-bottom: 1.5rem;
  }
}
